body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.5s ease;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0;
    transition: background-color 0.5s ease;
}

.navbar a {
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar a:hover {
    background-color: #555;
}

.section, .subsection {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    max-width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    transform: translateY(20px);
}

.subsection {
    transition-delay: 0.5s;
}

.section.visible, .subsection.visible {
    opacity: 1;
    transform: translateY(0);
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: opacity 0.5s ease;
}

.nba-logo {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

header, footer {
    background-color: #202020;
    color: #fff;
    text-align: center;
    padding: 1em;
    transition: background-color 0.5s ease;
}

header {
    position: relative;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#myGrid {
    height: 500px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
    .navbar a {
        padding: 10px 5px;
    }

    .section, .subsection {
        width: 100%;
        margin: 20px 0;
    }
}
